/* 12345网址大全子页面 */
/* 子页面导航 */
.ziye-daohang{
	width:980px;
	height:20px;
	font-size:12px;
	overflow:hidden;
}
.ziye-daohang-left{
	width:680px;
	height:20px;
	float:left;
	text-align:left;
}
.ziye-daohang-right{
	width:300px;
	height:20px;
	float:right;
	text-align:right;
}
/* 子页面主体 */
.ziye-zhuti{
	width:980px;
	height:auto;
	overflow:hidden;
}
.ziye-zhuti-top{
	width:980px;
	height:3px;
	overflow:hidden;
}
.ziye-zhuti-top-zhong{
	width:974px;
	height:2px;
	float:left;
	overflow:hidden;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #c2e187;
	background-color:#f5fef6;
}

/* 主体开始 */
.ziye-zhuti-zhong{
	width:978px;
	height:auto;
	overflow:hidden;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #c2e187;
	border-left-color: #c2e187;
}
.ziye-zhuti-zhong-kuang-1-1{
	width:968px;
	height:26px;
	padding-left:10px;
	line-height:24px;
	overflow:hidden;
	background-image: url(../images/toubu-1.gif);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	font-weight: bold;
	color:#006600;
}
.ziye-zhuti-zhong-kuang-1-2{
	width:968px;
	height:26px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #c2e187;
	line-height:26px;
	padding-left:10px;
	overflow:hidden;
	background-image: url(../images/toubu-1.gif);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	font-weight: bold;
	color:#006600;
}
.ziye-zhuti-zhong-kuang-2{
	width:938px;
	height:auto;
	padding-left:20px;
	padding-right:20px;
	overflow:hidden;
}
.ziye-zhuti-zhong-kuang-2-hang{
	width:938px;
	height:20px;
	padding-top:6px;
	padding-bottom:6px;
}
.ziye-zhuti-zhong-kuang-2-ge{
	width:187px;
	height:20px;
	float:left;
	overflow:hidden;
}

/* 子页面脚部 */
.ziye-foot{
	width:978px;
	height:50px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #c2e187;
	background-color: #F3FAF1;
	overflow:hidden;
}

/* 子页面脚部搜索 */
.ziye-foot-sousuo{
	width:400px;
	height:39px;
	padding-top:7px;
	padding-bottom:4px;
	padding-left:10px;
	float:left;
	overflow:hidden;
}

.table-1{
width:400px;
height:39px;
background-color: #F3FAF1;
}
.table-1-img{
width:80px;
height:29px;
padding-top:2px;
padding-bottom:8px;
overflow:hidden;
float:left;
}
.table-1-img-input-1{
width:227px;
height:24px;
padding-top:7px;
padding-bottom:8px;
padding-left:5px;
overflow:hidden;
float:left;
}
.table-1-img-input-2{
width:80px;
height:26px;
padding-top:6px;
padding-bottom:9px;
float:left;
overflow:hidden;
}
.input-1{
height:22px; 
width:217px; 
font-size:14px;
border: 1px solid #CCCCCC;  
padding-left:2px;
overflow:hidden;
}
#sx{
	color:#00C;
	text-decoration:underline;
	cursor:pointer;
}
.ziye-foot-yejiao{
	width:568px;
	height:43px;
	font-size:12px;
	padding-top:7px;
	line-height:18px;
	float:right;
	overflow:hidden;
}

.ziye-zhuti-foot{
	width:980px;
	height:3px;
	overflow:hidden;
}
.ziye-zhuti-foot-zhong{
	width:974px;
	height:2px;
	float:left;
	overflow:hidden;
	background-color: #F3FAF1;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #c2e187;
}
/* 子页面尾部 */
.ziye-weibu{
	width:980px;
	height:20px;
	padding-top:5px;
	margin-bottom:10px;
	text-align:center;
	overflow:hidden;
}
